<div><img width="100%" src="{{ url_for('static', filename='img/Banner420.jpg') }}"class = "ui centered "> </div>
<div style="background-color:rgb(38, 38, 38);" style="padding-bottom: 50px;"></div>
  <div class="ui inverted vertical center aligned segment">
      <div class="ui text container" style = "width:70%;">
        <h1 class="ui huge inverted header" style="font-size:5em">{{ config.get('APP_TITLE') }} </h1>
        <h2>Funlab web test, Please Login.</h2>
        <div class="ui text container" style = "width:70%;" style="padding: 5vh;">
          Funlab web test 101 420356
        </div>
      </div>
  </div>
