<div class="ui container" style = "background-color: 2A363B;">
    <div class="ui grid">
      <div class="four wide column">
        <h5 class="ui header"> 420356 FC </h5>
        <img width="20%" src="{{ url_for('static', filename='images/r202.png') }}">
        <p> Develop by 420356 Restaurant </p>
      </div>
      <div class="five wide column">
        <h5 class="ui header">Department of Kra Phao Engineering</h5>
        <p>
        Faculty of Kra Phao<br/>
        Prince of Fishy<br/>
        Hat Yai, Thailand
        </p>
      </div>
      <div class="seven wide column">
        <h5 class="ui header">Connect</h5>
        <div class="ui link list">
          <a href="https://www.facebook.com/420356restaurant/">Kra Phao</a>
        </div>
      </div>
    </div>
  </div>