{% extends "/base/baselogin-layout.html" %}

{% block title %}เข้าสู่ระบบ
{% endblock %}

{% block body %}
<div class="ui container">
  <div class="eight wide column" >
    <div class="column" style = "padding: 20%;">
      <h2 class="ui red image header">
        <i class="ui icon pepper hot"></i>
        <div class="content">
          <p style = "color: aliceblue;">เข้าสู่ระบบ</p></div>
      </h2>
      <form class="ui large form initial" method="post">
        {{ form.csrf_token }}
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input id="text" name="username" required placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input id="password" name="password" type="password" required placeholder="Password">
            </div>
          </div>
          <button class="ui fluid large black submit button" type="submit">เข้าสู่ระบบ</button>
        </div>
      </form>
      <div class="ui message" style="text-align: center;">
        ยังไม่มีบัญชี? 
        <a href="{{ url_for('accounts.register') }}">สร้างบัญชีใหม่</a>
      </div>
    </div>
  </div>
</div>
<style>
  p {
    background-image: url('420356.jpg');
  }
  </style> 
{% endblock %}

